.mobile_nav {
    display: none;

    @media (max-width: $media-md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        // position: relative;
    }

    .m_logo {
        img {
            max-width: 60px;
            width: 100%;
        }
    }

    .ham_menu {
        display: block;
        transition: 0.3s ease-in-out;
        &::before {
            content: "";
            width: 25px;
            height: 2px;
            background: $bg_color;
            display: block;
            margin-bottom: 5px;
            transition: 0.3s ease-in-out;
        }

        &::after {
            content: "";
            width: 25px;
            height: 2px;
            background: $bg_color;
            display: block;
            position: relative;
            top: 5px;
            transition: 0.3s ease-in-out;
        }

        span {
            width: 25px;
            height: 2px;
            background: $bg_color;
            display: block;

        }
    }

    &.mobile_nav_open{
        .ham_menu{
            span{
                opacity: 0;
            }
            &::before{
                transform: rotate(45deg);
                position: relative;
                top: 7px;
            }
            &::after{
                position: relative;
                top: -1px;
                transform: rotate(-45deg);
            }
        }
        .mobile_menu{
            height: auto;
            opacity: 1;
            visibility: visible;
        }
    }

    .mobile_menu {
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        right: 0;
        top: 100px;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        @media (max-width: $media-xs) {
            top: 80px;
        }

        ul {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            padding-bottom: 40px;
        }
    }
}