//global
//$host:'../pics/';
//$host: 'http://assets.aversio.com/resources/resellers/2/138/125/img/';
//media query
$media-xlg: 1500px; //120em
$media-lg: 1200px; //75em
$media-md: 992px; //62em
$media-sm: 768px; //48em
$media-xs: 570px; //34em


//fonts
$font-1: 'Montserrat', sans-serif;
$font-2: 'Domine', serif;


//colors
$bg_color: #591144;
$white: #fff;
$red-1: #C6437D;
$red-2: #8A587C;

//weights
$light:300;
$regular:400;
$medium: 500;
$semi-bold:600;
$bold:700;